<template>
  <div class="async-button">
    <Button :disabled="disabled || isPending" :role="role" :color="color" @click.stop.prevent="handleClick()"><span class="material-icons" v-if="isPending">autorenew</span><slot /></Button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, Ref } from 'vue';
import Button from '@/components/BaseButton.vue'

export default defineComponent({
  name: 'AsyncButton',
  components: {
    Button
  },
  props: {
    role: String,
    disabled: Boolean,
    color: String
  },
  setup(props, context) {

    const isPending:Ref<boolean> = ref<boolean>(false)

    const handleClick = () => {
      // eslint-disable-next-line
      const originalOnClick:any = /** @type {() => Promise<void>} */ (context.attrs.onClick)
      isPending.value = true
      originalOnClick().finally(() => {isPending.value = false})
    }

    return {
      isPending,
      handleClick
    }
  }
});
</script>

<style scoped>
  .async-button span {
    margin-right: 0.5rem;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
</style>