<template>
  <div class="base-layout">
    <BaseHeader />
    <slot />
    <BaseFooter />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import BaseHeader from '@/components/BaseHeader.vue'
import BaseFooter from '@/components/BaseFooter.vue'

export default defineComponent({
  name: 'BaseLayout',
  components: {
    BaseHeader,
    BaseFooter
  }
});
</script>