<template>
  <button :role="role" :disabled="disabled" :style="{backgroundColor: btnColor}"><slot /></button>
</template>

<script lang="ts">
import { defineComponent, onMounted, Ref, ref, watch } from 'vue';

export default defineComponent({
  name: 'BaseButton',
  props: {
    role: String,
    disabled: Boolean,
    color: String
  },
  setup(props) {

    const btnColor:Ref<string> = ref<string>('#4CAF50')

    onMounted(() => {
      setBtnColor()
    })
    watch(() => props.color, () => {
      setBtnColor()
    })

    const setBtnColor = () => {
      switch(props.color) {
        case 'warn':
          btnColor.value = '#FF9800'
          break
        case 'danger':
          btnColor.value = '#F44336'
          break
        default:
          btnColor.value = '#4CAF50'
          break
      }
    }

    return {
      btnColor
    }
  }
});
</script>

<style scoped>
  button {
    background-color: #4CAF50;
    color: #FAFAFA;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button:hover {
    filter: brightness(1.1);
  }

  button:focus {
    filter: brightness(1.2);
  }

  button:disabled {
    filter: contrast(0.75);
    cursor: not-allowed;
  }
</style>