<template>
  <div class="base-footer">
    <p>Conctact</p>
    <ul>
      <li>Tel: +33 6 00 00 00 00</li>
      <li>mail: mon.mail@gmail.com</li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'BaseFooter',
});
</script>

<style scoped>
  .base-footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #212121;
    color: #FAFAFA;
    justify-content: center;
    align-items: center;
  }
</style>