<template>
  <div class="base-header">
    <a href="#">Accueil</a>
    <p>Bonjour {{user.prenom}} {{user.nom}}.</p>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'BaseHeader',
  setup() {

    const user = ref({prenom: "Jean", nom: "Dupond"})

    return {
      user
    }
  }
});
</script>

<style scoped>
  .base-header {
    display: flex;
    width: 100vw;
    background-color: #212121;
    color: #FAFAFA;
    justify-content: space-around;
    align-self: center;
  }

  .base-header a {
    color: #FAFAFA;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>