<template>
  <div class="home-page">
    Je suis le HomePage component !!!

    <AsyncButton @click="myFunction()">Async btn</AsyncButton>
    <BaseButton>Valider</BaseButton>
    <BaseButton color="warn">En cours</BaseButton>
    <BaseButton color="danger" disabled>Error</BaseButton>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, Ref } from 'vue';
import BaseButton from '@/components/BaseButton.vue'
import AsyncButton from '@/components/AsyncButton.vue'

export default defineComponent({
  name: 'HomePage',
  components: {
    BaseButton,
    AsyncButton
  },
  setup() {

    const delayBtn:Ref<number> = ref<number>(2000)

    const myFunction = async () => {
      await new Promise(resolve => setTimeout(resolve, delayBtn.value))
      delayBtn.value += 1000
    }

    return {
      myFunction
    }
  }
});
</script>

<style scoped>
  .home-page {
      display: flex;
      flex-direction: column;
      width: 100vw;
      min-height: 85vh;
      justify-content: center;
      align-items: center;
  }
</style>