<template>
  <div id="app">
    <BaseLayout>
      <HomePage />
    </BaseLayout>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import HomePage from '@/components/HomePage.vue'
import BaseLayout from '@/components/BaseLayout.vue'

export default defineComponent({
  name: 'App',
  components: {
    HomePage,
    BaseLayout
  }
});
</script>

<style>

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); 
  }
  ::-webkit-scrollbar-thumb {
    background: #9E9E9E; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #9E9E9E; 
  }

  html, body, #app {
    user-select: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
  }
</style>